<launch>
    <!-- Given the published joint states, publish tf for the robot links -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

    # The planning and execution components of MoveIt! configured to
    # publish the current configuration of the robot (simulated or real)
    # and the current state of the world as seen by the planner
    <include file="$(find schunk_lwa4p_sdh_moveit_config)/launch/move_group.launch">
        <arg name="publish_monitored_planning_scene" value="true" />
    </include>

    # The visualization component of MoveIt!
<!--    <include file="$(find schunk_lwa4p_sdh_moveit_config)/launch/moveit_rviz.launch"/>-->

    # transform for zed to body
<!--    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_zed_camera_center"-->
<!--          args="0.0 0 0.0 0 0 3.1415 body zed_base_link 10"/>-->
</launch>
