<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="lwa4p" >

  <!-- common stuff -->
  <xacro:include filename="$(find grasping_sim)/urdf/urdf/common.xacro" />
  <xacro:include filename="$(find grasping_sim)/urdf/urdf/materials.urdf.xacro" />

  <!-- schunk lwa4p -->
  <xacro:include filename="$(find grasping_sim)/urdf/urdf/lwa4p/lwa4p.urdf.xacro" />

  <!-- schunk sdh -->
  <xacro:include filename="$(find grasping_sim)/urdf/urdf/sdh/sdh.urdf.xacro" />

  <!-- zed camera -->
<!--  <xacro:include filename="$(find zed_wrapper)/urdf/zed.urdf"/>-->

  <!-- Used for fixing robot to Gazebo -->
  <link name="world"/>

  <link name="body">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <collision>
<!--      <origin xyz=".7 .7 -1.33" rpy="1.5707 0 -1.5707"/>-->
<!--      <geometry>-->
<!--        <mesh filename="package://schunk_lwa4p_svh/description/meshes/humanoid/chestconvexhull.stl" scale="0.001 0.001 0.001"/>-->
<!--      </geometry>-->
      <origin xyz="-0.03 -.046 -0.038" rpy="0 0 0"/>
      <geometry>
        <box size=".4 .525 .576" />
      </geometry>
    </collision>
    <visual>
      <origin xyz=".7 .7 -1.33" rpy="1.5707 0 -1.5707"/>
      <geometry>
        <mesh filename="package://grasping_sim/urdf/meshes/humanoid/chestlowres.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
  </link>

  <link name="head">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <collision>
      <geometry>
        <mesh filename="package://grasping_sim/urdf/meshes/humanoid/headconvexhull.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <mesh filename="package://grasping_sim/urdf/meshes/humanoid/headlowres.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
  </link>

  <joint name="head_neck" type="fixed">
    <parent link="body"/>
    <child link="head"/>
    <origin xyz=".27 .11 -.67" rpy="0.4887 0 -1.5707"/>
  </joint>

  <!-- left arm -->
  <xacro:schunk_lwa4p name="arm" parent="body" has_podest="true">
    <origin xyz="0 -0.27 0.08" rpy="1.5707 0 0" /> <!--slightly above gazebo plane-->
  </xacro:schunk_lwa4p>

  <!-- left sdh hand -->
  <xacro:schunk_sdh name="left_hand" parent="arm_6_link">
    <origin xyz="0 0 0.08"  rpy= "0 0 0"/>
  </xacro:schunk_sdh>

   <!-- right arm -->
   <xacro:schunk_lwa4p name="right_arm" parent="body" has_podest="true">
     <origin xyz="0 0.18 0.08" rpy="1.5707 0 3.1415" />
   </xacro:schunk_lwa4p>

   <!-- right sdh gripper -->
   <xacro:schunk_sdh name="right_hand" parent="right_arm_6_link">
    <origin xyz="0 0 0.08"  rpy= "0 0 3.1415"/>
   </xacro:schunk_sdh>

  <joint name="base_joint" type="fixed">
    <parent link="world"/>
    <child link="body"/>
  </joint>

  <joint name="camera_joint" type="fixed">
    <parent link="head"/>
    <child link="zed_base_link"/>
    <origin xyz=".155 0.03 1.14" rpy="0 0 -1.5707" />
  </joint>

  <!-- base_link -->
  <link name="zed_base_link" />
  <link name="zed_depth_frame"/>

  <!-- Camera Center -->
  <joint name="zed_camera_center_joint" type="fixed">
    <parent link="zed_base_link"/>
    <child link="zed_camera_center"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="zed_camera_center">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://grasping_sim/urdf/urdf/zed/models/ZED.stl" />
      </geometry>
      <material name="light_grey">
        <color rgba="0.8 0.8 0.8 0.8"/>
      </material>
    </visual>
  </link>

  <!-- Left Camera -->

  <joint name="zed_left_camera_joint" type="fixed">
    <parent link="zed_camera_center"/>
    <child link="zed_left_camera_frame"/>
    <origin xyz="0 0.06 0" rpy="0 0 0" />
  </joint>

  <link name="zed_left_camera_frame" />

  <joint name="zed_left_camera_depth_joint" type="fixed">
    <origin xyz="0.05 0.05 0.05" rpy="-1.5707 1.5707 -1.5707"/>
    <parent link="zed_left_camera_frame"/>
    <child link="zed_depth_frame"/>
  </joint>

  <joint name="zed_left_camera_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.57079632679 0.0 -1.57079632679"/>
    <parent link="zed_left_camera_frame"/>
    <child link="zed_left_camera_optical_frame"/>
  </joint>

  <link name="zed_left_camera_optical_frame"/>

  <!-- Right Camera -->

  <joint name="zed_right_camera_joint" type="fixed">
    <parent link="zed_camera_center"/>
    <child link="zed_right_camera_frame"/>
    <origin xyz="0 -0.06 0" rpy="0 0 0" />
  </joint>

  <link name="zed_right_camera_frame" />

  <joint name="zed_right_camera_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.57079632679 0.0 -1.57079632679"/>
    <parent link="zed_right_camera_frame"/>
    <child link="zed_right_camera_optical_frame"/>
  </joint>

  <link name="zed_right_camera_optical_frame"/>

  <!-- camera -->
  <gazebo reference="zed_left_camera_frame">
    <sensor type="camera" name="camera1">
      <update_rate>15.0</update_rate>
      <camera name="head">

        <pose>0.005 0 0 0 0 0</pose>

        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>400</width>
          <height>400</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.01</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>/zed/zed_node/left/</cameraName>
        <imageTopicName>image_rect_color</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>zed_left_camera_frame</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>

<!-- depth camera -->
  <!-- Kamera -->
  <xacro:include filename="$(find luh_youbot_description)/urdf/sensors/asus_xtion_camera.urdf.xacro" />
  <xacro:asus_xtion_camera name="camera" parent="zed_depth_frame" tilt="0.0">
    <origin xyz="0.08 -0.04 -0.05" rpy="0 -1.5707 0" />
  </xacro:asus_xtion_camera>

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="ros_control" filename="libhwi_switch_gazebo_ros_control.so">
    </plugin>
  </gazebo>

</robot>
