<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="lwa4p" >

  <!-- common stuff -->
  <xacro:include filename="$(find grasping_sim)/urdf/urdf/common.xacro" />
  <xacro:include filename="$(find grasping_sim)/urdf/urdf/materials.urdf.xacro" />

  <!-- schunk lwa4p -->
  <xacro:include filename="$(find grasping_sim)/urdf/urdf/lwa4p/lwa4p.urdf.xacro" />

  <!-- schunk sdh -->
  <xacro:include filename="$(find grasping_sim)/urdf/urdf/sdh/sdh.urdf.xacro" />

  <!-- Clearpath Ridgeback -->
  <xacro:include filename="$(find grasping_sim)/urdf/urdf/ridgeback/ridgeback.urdf.xacro" />

  <!-- zed camera -->
<!--  <xacro:include filename="$(find zed_wrapper)/urdf/zed.urdf"/>-->

  <link name="body">
    <!-- <origin xyz="0 0 0" rpy="0 0 0"/> -->
    <collision>
<!--      <origin xyz=".7 .7 -1.33" rpy="1.5707 0 -1.5707"/>-->
<!--      <geometry>-->
<!--        <mesh filename="package://schunk_lwa4p_svh/description/meshes/humanoid/chestconvexhull.stl" scale="0.001 0.001 0.001"/>-->
<!--      </geometry>-->
      <!--<origin xyz="-0.03 -.046 -0.038" rpy="0 0 0"/>-->
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 0.525 0.576" />
      </geometry>
    </collision>
    <visual>
      <!-- Origin for box model of body -->
      <!--<origin xyz="0 0 0" rpy="0 0 0"/> -->
      <!-- Origin for mesh model of body -->
      <!--<origin xyz=".7 .7 -1.33" rpy="1.5707 0 -1.5707"/>-->
      <origin xyz="-0.49 -0.75 -1.0" rpy="${M_PI/2} 0 ${M_PI/2}"/>
      <geometry>
        <!-- Box model of body -->
        <!--<box size="0.4 0.525 0.576" />-->
        <!-- Mesh model of body -->
        <mesh filename="package://grasping_sim/urdf/meshes/humanoid/chestlowres.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
  </link>

  <gazebo reference="body">
    <material>Gazebo/Gold</material>
  </gazebo>

  <link name="head">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <collision>
      <geometry>
        <mesh filename="package://grasping_sim/urdf/meshes/humanoid/headconvexhull.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <mesh filename="package://grasping_sim/urdf/meshes/humanoid/headlowres.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
  </link>

  <gazebo reference="head">
    <material>Gazebo/Grey</material>
  </gazebo>

  <joint name="head_neck" type="fixed">
    <parent link="body"/>
    <child link="head"/>
    <!--<origin xyz=".27 .11 -.67" rpy="0.4887 0 -1.5707"/>-->
    <origin xyz="0.45 -0.16 -0.35" rpy="0 0 ${M_PI/2}"/>
  </joint>

  <!-- left arm -->
  <xacro:schunk_lwa4p name="arm" parent="body" has_podest="true">
    <!--<origin xyz="0 -0.27 0.08" rpy="1.5707 0 0" />--> <!--slightly above gazebo plane-->
    <origin xyz="0.21 0.23 0.42" rpy="${M_PI/2} 0 ${M_PI}" />
  </xacro:schunk_lwa4p>

  <gazebo reference="arm_1_link">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo reference="arm_2_link">
    <material>Gazebo/SkyBlue</material>
  </gazebo>

  <gazebo reference="arm_3_link">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo reference="arm_4_link">
    <material>Gazebo/SkyBlue</material>
  </gazebo>

  <gazebo reference="arm_5_link">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <!-- left sdh hand -->
  <xacro:schunk_sdh name="left_hand" parent="arm_6_link">
    <origin xyz="0 0 0.08"  rpy= "0 0 ${M_PI}"/>
  </xacro:schunk_sdh>

  <!-- right arm -->
  <xacro:schunk_lwa4p name="right_arm" parent="body" has_podest="true">
    <!--<origin xyz="0 0.18 0.08" rpy="1.5707 0 3.1415" />-->
    <origin xyz="0.21 -0.24 0.42" rpy="${M_PI/2} 0 0" />
  </xacro:schunk_lwa4p>

  <gazebo reference="right_arm_1_link">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo reference="right_arm_2_link">
    <material>Gazebo/SkyBlue</material>
  </gazebo>

  <gazebo reference="right_arm_3_link">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo reference="right_arm_4_link">
    <material>Gazebo/SkyBlue</material>
  </gazebo>

  <gazebo reference="right_arm_5_link">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <!-- right sdh hand -->
  <xacro:schunk_sdh name="right_hand" parent="right_arm_6_link">
    <origin xyz="0 0 0.08"  rpy= "0 0 0"/>
  </xacro:schunk_sdh>

  <!-- ridgeback -->
  <xacro:clearpath_ridgeback name="ridgeback">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:clearpath_ridgeback>

  <!-- backlift -->
  <link name="backlift">
    <collision>
      <geometry>
        <box size="0.1 0.4 0.8" />
      </geometry>
      <origin xyz="0 0 0.3" rpy="0 0 0" />
    </collision>
    <visual>
      <geometry>
        <box size="0.1 0.4 0.8" />
        <!-- Backlift mesh available but box with prismatic joint may be more useful -->
        <!--
        <mesh filename="package://grasping_sim/urdf/meshes/humanoid/backliftlowres.stl" scale="0.001 0.001 0.001" />
        -->
      </geometry>
      <origin xyz="0 0 0.3" rpy="0 0 0" />
      <!-- Origin if using backlift mesh -->
      <!-- <origin xyz="0.3 0.75 -0.3" rpy="${M_PI/2} 0 -${M_PI/2}" /> -->
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia
              ixx="1.0" ixy="0.0" ixz="0.0"
              iyy="1.0" iyz="0.0"
              izz="1.0" />
    </inertial>
  </link>

  <gazebo reference="backlift">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <joint name="ridgeback_backlift" type="fixed">
    <parent link="ridgeback_top_link" />
    <child link="backlift" />
    <origin xyz="-0.2 0 ${deck_height}" rpy="0 0 0" />
  </joint>

  <joint name="backlift_body" type="prismatic">
    <parent link="backlift" />
    <child link="body" />
    <!-- Origin for box model of body -->
    <!--<origin xyz="0.25 0 0.6" rpy="0 0 0" />-->
    <!-- Origin for mesh model of body -->
    <axis xyz="0 0 1" />
    <limit effort="100.0" lower="-0.4" upper="0.1" velocity="0.1" />
    <origin xyz="0 0 0.5" rpy="0 0 0" />
  </joint>

  <!-- Backlift and body transmission -->
  <transmission name="backlift_body_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="backlift_body">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="backlift_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <joint name="camera_joint" type="fixed">
    <parent link="head"/>
    <child link="zed_base_link"/>
    <origin xyz=".155 0.03 1.14" rpy="0 0 -1.5707" />
  </joint>

  <!-- base_link -->
  <link name="zed_base_link" />
  <link name="zed_depth_frame"/>

  <!-- Camera Center -->
  <joint name="zed_camera_center_joint" type="fixed">
    <parent link="zed_base_link"/>
    <child link="zed_camera_center"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="zed_camera_center">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://grasping_sim/urdf/urdf/zed/models/ZED.stl" />
      </geometry>
      <material name="light_grey">
        <color rgba="0.8 0.8 0.8 0.8"/>
      </material>
    </visual>
  </link>

  <!-- Left Camera -->
  <joint name="zed_left_camera_joint" type="fixed">
    <parent link="zed_camera_center"/>
    <child link="zed_left_camera_frame"/>
    <origin xyz="0 0.06 0" rpy="0 0 0" />
  </joint>

  <link name="zed_left_camera_frame" />

  <joint name="zed_left_camera_depth_joint" type="fixed">
    <origin xyz="0.05 0.05 0.05" rpy="-1.5707 1.5707 -1.5707"/>
    <parent link="zed_left_camera_frame"/>
    <child link="zed_depth_frame"/>
  </joint>

  <joint name="zed_left_camera_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.57079632679 0.0 -1.57079632679"/>
    <parent link="zed_left_camera_frame"/>
    <child link="zed_left_camera_optical_frame"/>
  </joint>

  <link name="zed_left_camera_optical_frame"/>

  <!-- Right Camera -->
  <joint name="zed_right_camera_joint" type="fixed">
    <parent link="zed_camera_center"/>
    <child link="zed_right_camera_frame"/>
    <origin xyz="0 -0.06 0" rpy="0 0 0" />
  </joint>

  <link name="zed_right_camera_frame" />

  <joint name="zed_right_camera_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.57079632679 0.0 -1.57079632679"/>
    <parent link="zed_right_camera_frame"/>
    <child link="zed_right_camera_optical_frame"/>
  </joint>

  <link name="zed_right_camera_optical_frame"/>

  <!-- camera -->
  <gazebo reference="zed_left_camera_frame">
    <sensor type="camera" name="camera1">
      <update_rate>15.0</update_rate>
      <camera name="head">
        <pose>0.005 0 0 0 0 0</pose>
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>400</width>
          <height>400</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.01</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>/zed/zed_node/left/</cameraName>
        <imageTopicName>image_rect_color</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>zed_left_camera_frame</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>

  <!-- depth camera -->
  <!-- Kamera -->
  <xacro:include filename="$(find luh_youbot_description)/urdf/sensors/asus_xtion_camera.urdf.xacro" />
  <xacro:asus_xtion_camera name="camera" parent="zed_depth_frame" tilt="0.0">
    <origin xyz="0.08 -0.04 -0.05" rpy="0 -1.5707 0" />
  </xacro:asus_xtion_camera>

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="ros_control" filename="libhwi_switch_gazebo_ros_control.so">
    </plugin>
  </gazebo>

</robot>
