<launch>
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true"/>
    <arg name="headless" default="false" />
    <arg name="paused" default="false"/>
    <arg name="world_name" default="$(find grasping_sim)/worlds/FairlaneRoboticsLab-V1.sdf" />

    <!-- start gazebo with lab world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="0" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="$(arg paused)" /> 
    </include>
</launch>
