<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find grasping_sim)/launch/spawn_robot.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.8" />
        <arg name="urdf_robot_file" value="$(find grasping_sim)/urdf/gazebo_compatible_robot.urdf.xacro" />
        <arg name="robot_name" value="humanoid" />
    </include>
</launch>
