<launch>

  <rosparam file="$(find grasping_sim)/config/simple_arm_control.yaml" command="load"/>
  <rosparam file="$(find grasping_sim)/config/left_sdh_controller.yaml" command="load"/>
  <rosparam file="$(find grasping_sim)/config/simple_right_arm_control.yaml" command="load" />
  <rosparam file="$(find grasping_sim)/config/right_sdh_controller.yaml" command="load"/>
  <rosparam file="$(find grasping_sim)/config/neck_control.yaml" command="load" />

  <rosparam command="load" ns="/script_server/arm" file="$(find grasping_sim)/config/joint_configurations.yaml"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"
    args="
      /arm/joint_group_position_controller
      /left_hand/joint_group_position_controller
      /right_arm/joint_group_position_controller
      /right_hand/joint_group_position_controller
      /neck/joint_position_controller
      "/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  </node>

  <include file="$(find grasping_sim)/launch/gazebo_table.launch"/>

  <include file="$(find grasping_sim)/launch/spawn_two_arm_humanoid.launch">
  </include>

  <node ns="arm" name="joint_states_relay" pkg="topic_tools" type="relay" args="joint_states /joint_states" cwd="node" respawn="true" output="screen"/>
</launch>
